# After Ubuntu 16.04, Systemd becomes the default.
# It is simpler than https://gist.github.com/Doowon/38910829898a6624ce4ed554f082c4dd

[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/var/run/jupyter.pid
ExecStart=/usr/local/bin/jupyter-notebook --config=/home/spurs/.jupyter/jupyter_notebook_config.py
User=phil
WorkingDirectory=/home/spurs/Jupyter_dir/
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
